#bienvenidos{
    text-align: center;
    color: #FFFFFF;
}

#bienvenidos h2{
    font-size: 25px;
    font-family: 'Roboto Mono', monospace;
}

#bienvenidos p{
    font-family: 'Comfortaa', cursive;
    font-size: 13px;
    text-align: justify;
}
 
/**/
/**/