footer .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #ffff;
    width: 100%;
    
}

.copy {
    font-size: 20px;
}

.sociales{
    
    text-align: center;
    font-size: 28px;
}

.sociales a{
    color: #494A48;
}

@media (min-width:1024px){
    .sociales{
    
    text-align: center;
    }
}

@media (min-width:768px){
    .sociales{
    
    text-align: center;
    font-size: 20px;
}
    footer .contenedor{
        justify-content:center;
    }
}