
#menu-bar{
    display: none;
}

header label {
    float:right;
    font-size: 35px;
    margin: 5px 0px;
    cursor: pointer;
}

.menu{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(73,74, 72, 0.9);
    top: 60px;
    left: 0;
    transition: all 0.5s;
    transform: translateX(-100%);
}

.menu a{
    display: block;
    color: #ffff;
    height: 60px;
    text-decoration: none;
    padding: 20px;
    border-bottom: solid 1px rgba(248, 65, 44, 0.9);
    font-family: 'Comfortaa', cursive;
}

.menu a:hover{
    background: rgba(248, 65, 44);
}

#menu-bar:checked ~ .menu{
    transform: translateX(0);
}

@media (min-width:1024px){
    .menu{
        position: static;
        width: auto;
        height: auto;
        transform: translateX(0%);
        float: right;
        display: flex;
    }
    
    .menu a{
        border: none;
    }
    
    header label{
        display: none;
    }
}