@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa:300&display=swap');


#nosotros h2{
    font-size: 25px;
    font-family: 'Comfortaa', cursive;
    text-align: center;
    color: #ffff;
}

#nosotros p{
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
    text-align: justify;
    color: #ffff;
}

#nosotros .contenedor{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
}